body {
background-color:#1f1f1f;	
}
.d1 {
background:#161616;
width:100%;
height:50px;
margin-top:50px;
}
img {
width:1354px;	
height:2000px;
}
.img {
width:300px;	
height:73px;
margin:28px;
margin-top:80px;
}
.p2 {
color:white;	
font-family:Arial Black;
margin:40px;
margin-top:-40px;
}
a {
color:white;	
font-family:Arial Black;
margin-top:50px;
text-decoration:none;
}
.p1{
position:absolute;
margin:100px;
top:-37px;
}
.p3{
position:absolute;
margin:250px;
top:-187px;
}
.p4{
position:absolute;
margin:390px;
top:-327px;
}
.d2 {
color:white;	
background-color:#161616;
height:270px;
width:200px;
border-radius:5%;
font-family:Arial Black;
text-align:center;
margin:10px;
margin-top:190px;
}
.d4 {
color:white;	
background-color:#161616;
height:270px;
width:200px;
border-radius:5%;
font-family:Arial Black;
text-align:center;
margin:85px;
margin-top:50px;
}
.d5 {
color:white;	
background-color:#161616;
height:270px;
width:200px;
border-radius:5%;
font-family:Arial Black;
text-align:center;
margin:315px;
margin-top:-355px;
}
.d6 {
color:white;	
background-color:#161616;
height:270px;
width:200px;
border-radius:5%;
font-family:Arial Black;
text-align:center;
margin:546px;
margin-top:-585px;
}
.d7 {
color:white;	
background-color:#161616;
height:270px;
width:200px;
border-radius:5%;
font-family:Arial Black;
text-align:center;
margin:776px;
margin-top:-815px;
}
.d8 {
color:white;	
background-color:#161616;
height:270px;
width:200px;
border-radius:5%;
font-family:Arial Black;
text-align:center;
margin:1007px;
margin-top:-1045px;
}
.img1 {
margin-top:8px;
height:177px;	
width:187px;
border-radius:5%;
}
.img2 {
margin-top:8px;
height:177px;	
width:187px;
border-radius:5%;
}
.img3 {
margin-top:8px;
height:177px;	
width:187px;
border-radius:5%;
}
.img4 {
margin-top:8px;
height:177px;	
width:187px;
border-radius:5%;
}
.img5 {
margin-top:8px;
height:177px;	
width:187px;
border-radius:5%;
}
.p5 {
margin-right:100px;	
margin-top:5px;
font-family:Arial Black;
font-size:20px;
}
.p6 {
margin-right:120px;	
margin-top:5px;
font-family:Arial Black;
}
.p7 {
margin-right:120px;	
margin-top:5px;
font-family:Arial Black;
}
.p8 {
margin-right:120px;	
margin-top:5px;
font-family:Arial Black;
}
.p9 {
margin-right:120px;	
margin-top:5px;
font-family:Arial Black;
}
.p7 {
color:white;
font-family:Arial Black;
font-size:15px;
margin:8px;
margin-top:5px;
}
.p9 {
color:white;
font-family:Arial Black;
font-size:15px;
margin:8px;
margin-top:5px;
}
.p8 {
color:white;
font-family:Arial Black;
font-size:15px;
margin:1px;
margin-top:5px;
}
.d3 {
background-color:#181818;
width:100%;
height:80px;
margin-top:-390px;	
}
.p6 {
color:white;
font-family:Arial Black;
font-size:15px;
margin:1px;
margin-top:5px;
}
.d2 {		
background:#161616;
width:100%;
height:50px;
margin-top:80px;
}
.d4:hover {
background: rgb(24,24,24);
background: linear-gradient(0deg, rgba(24,24,24,1) 16%, rgba(99,99,99,1) 100%);
}
.d5:hover {
background: rgb(24,24,24);
background: linear-gradient(0deg, rgba(24,24,24,1) 16%, rgba(99,99,99,1) 100%);
}
.d6:hover {
background: rgb(24,24,24);
background: linear-gradient(0deg, rgba(24,24,24,1) 16%, rgba(99,99,99,1) 100%);
}
.d7:hover {
background: rgb(24,24,24);
background: linear-gradient(0deg, rgba(24,24,24,1) 16%, rgba(99,99,99,1) 100%);
}
.d8:hover {
background: rgb(24,24,24);
background: linear-gradient(0deg, rgba(24,24,24,1) 16%, rgba(99,99,99,1) 100%);
}